@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* Fotter List heading design start */
    .footer_list_head{
        @apply md:text-[17px] lg:text-[22px] text-[#000000] leading-[24px] pb-[30px]
    }
    /* Fotter List heading design end */
/* Fotter List li design start */
.footer_list {
    @apply md:text-[10px] lg:text-[16px] text-[#8A8FB9] mb-[21px] leading-[18px]
}
    /* Fotter List li design end */
/* Every Section Header start */
.header{
    @apply text-[42px] leading-[49px] text-center
}
/* Every Section Header end */

}


@layer base{

h1{
    @apply text-5xl text-[#101750] font-bold
}
h2{
    @apply text-4xl text-[#101750] font-bold
}
h3{
    @apply text-[18px] md:text-4xl text-[#101750] font-bold
}
h4{
    @apply text-base
}
h5{
    @apply text-sm
}
h6{
    @apply text-xs
}
}

@layer utilities{

}
.slick-dots .slick-active div{
    background-color: #FB2E86 !important;
}

/* Navbar.css */
.navbar {
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    transition: all 0.5s ease-in-out;
    }
    
    .navbar.sticky {
    top:0;
    position: fixed;
    background-color: white; /* Change this to your desired background color */
    -webkit-box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.75);
    background-color:#f0e9da;
    animation: ami 2s;
    z-index: 999;
    }
    @keyframes ami{
    0%{
    top:-30px;
    }
    100%{
    top:-0px;
    }
    }